body {
    margin: 20px;
}

figure figcaption {
    text-align: center;
}

figure a {
    text-decoration: none;
    color: black;
}

header {
    padding: 20px;
    background-image: url("images/snap.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto;
    width: 100%;
    height: 800px;
    background-color: rgb(222, 222, 222);
    box-sizing: border-box;
    border-bottom-right-radius: 200px;
    position: relative;
    z-index: -1;
}

/* #pizza {
    width: 100%;
    background: url('images/snap.png');
    /* background-position: bottom left;
    height: auto;
    width: 100%;
} */

#sign-in {
    /* position: relative; */
    left: -960px;
    top: -600px;
    /* box-sizing: border-box;
    padding-left: 60px; */
    background-color: rgb(255, 0, 166);
    border-radius: 10px;
    border-style: none;
    padding: 20px;
    cursor: pointer;
    
}

#seller {
    /* position: relative; */
    left: -960px;
    top: -650px;
    border-style: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#snapfood-logo {
    height: 70px;
    position: absolute;
    /* position: relative; */
    top: 20px;
    right: 20px;
}

#ordering {
    font-size: 50px;
    /* position: relative; */
    position: absolute;
    right: 20px;
    top: 100px;
}

#search-box {
    border-style: none;
    height: 60px;
    width: 365px;
    border-radius: 30px;
    position: absolute;
    right: 20px;
    top: 260px;
    background-color: rgb(247, 247, 247);
    direction: rtl;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#search-button {
    background-color: rgb(255, 0, 166); 
    padding: 10px; 
    border-radius: 100%; 
    border-style: none; 
    height: 50px; 
    width: 50px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 265px;
    right: 327px;
    /* top: -450px;
    left: 350px; */
    cursor: pointer;
}

.row {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    direction: rtl;
    background: rgba(218, 205, 205, 0.74);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(218, 205, 205, 0.22);
    position: relative;
    top: -230px;
    left: 2%;
}

.row .col {
    padding: 20px;
    width: 9.5%;
    box-sizing: border-box;
}

.menu {
    width: 40px;
    height: 40px;
    text-align: center;
}

#categories {
    position: relative;
    left: 2%;
    top: 200px;
}

.row-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    direction: rtl;
    background-color: white;
    position: relative;
    top: -177px;
    right: 7%;
}

.row-2 .col-2 {
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
}

.row-2 .col-2 img {
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
}

.row-2 a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.row-2 p a:hover{
    font-size: 20px;
    color: rgb(255, 0, 166);
    transition: color 0.7s;
}

/* .food:hover {
} */

.row-3 {
    width: 100%;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    direction: rtl;
    background-color: rgb(222, 222, 222);
    box-sizing: border-box;
    border-bottom-right-radius: 160px;
    position: relative;
    top: 150px;
    z-index: -1;
}

.row-3 .col-3 {
    padding: 20px;
    box-sizing: border-box;
    width: 50%;
}

.row-3 h1, p{
    direction: rtl;
}

#number {
    border-style: none;
    width: 340px;
    height: 40px;
    border-radius: 5px;
}

#link {
    padding: 9px;
    height: 35px;
    background-color: rgb(255, 0, 166);
    cursor: pointer;
    color: white;
    border-style: none;
    border-radius: 8px;
    position: relative;
    left: 14.5%;

}

.sub-row {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.sub-col {
    width: 33.33%;
    box-sizing: border-box;
    padding: 5px;
}

.sub-col p{
    background-color: black;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 8px;
    height: 20px;
    position: relative;
}


#shop {
    background-color: rgb(222, 222, 222);
    display: flex;
    direction: rtl;
    flex-wrap: wrap;
    /* position: static; */
    top: 300px;
    box-sizing: border-box;
}

#owner {
    padding: 30px;
    padding-top: 60px;
    flex-grow: 1;
}

#shop h1, p {
    direction: rtl;
}

#shop-center {
    text-align: left;
    padding: 20px;
    position: relative;
    top: -120px;
    flex-grow: 2;
}

#owner-button {
    background-color: rgb(255, 0, 166);
    color: white;
    padding: 20px;
    border-style: none;
    border-radius: 8px;
    width: 200px;
    position: static;
    font-size: 20px;
}

.row-4 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.row-4 .col-4 {
    width: 10%;
    box-sizing: border-box;
    padding: 2px;
    color: lightgray;
}

#cities {
    background-color: white;
    direction: rtl;
    text-align: right;
    width: 100%;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 150px;
}

#footer {
    background-color: rgb(222, 222, 222);
    direction: rtl;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 100px;
    padding: 30px;
    box-sizing: border-box;
}

#col1 {
    flex-grow: 1;
}

#col2 {
    flex-grow: 3;
}

.roww {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 7px;
}

.coll {
    padding: 8px;
}

.roww .coll button {
    width: 20px;
    height: 20px;
    text-align: center;
    border-style: none;
    border-radius: 100%;
    background-color: lightgray;
}


#col3 {
    flex-grow: 2;
}

.rowww {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.colll {
    padding: 5px;
    direction: rtl;
    text-align: right;
}

.colll a {
    text-decoration: none;
    color: gray;
}

#col4 {
    flex-grow: 1;
}

@media only screen and (max-width: 500px) {
    .row .col {
        width: 20%;
    }
    .row-2 .col-2 {
        width: 100%;
    }

}